<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">
  <h1>This is our contact form!</h1>
  <div id="contact">
    <%= render 'contact_form' %>
  </div>
</div>