 <br>
<div class="w-25 d-flex flex-column container justify-content-center align-itmes-center mt-5" style = "padding-top: 1rem; border: 1px solid;">
  <h1><%= t("contact.msg") %></h1>

  <div id="contact">
    <%= render 'contact_form' %>
  </div>
</div> 