<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">

<h1>Modification de rendez-vous</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Voir', @appointment, class:"btn btn-info mb-2" %>
<%= link_to 'Retour, appointments_path, class:"btn btn-secondary mb-2" %>
</div>