 <br> 
<div class="w-25 mt-5 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">

<h1><%= t("appointments.new") %></h1>

<%= render 'form', appointment: @appointment %>
<a href = "<%= appointments_path %>" class="btn btn-warning mb-2"><%= t("button.back") %></a>

</div>